
<aside>
    <div class="side-nav col-md-8 offset-md-4">
        <h2>Categories</h2>
        <ul>
            <li *ngFor="let author of authors"><a [routerLink]="['/article/q', author]">{{ author }}</a></li>
        </ul>
        
        <h2>Associated Entries</h2>
        <ul>
            <li>Anthony de Mello: Poszukiwanie akceptacji</li>
            <li>Fryderyk Nietzsche: Zgładzić smoka</li>
            <li>Alan Watts: Potrzeba kontroli</li>
        </ul>
        
        <h2>Archive</h2>
        <ul>
            <li>Styczeń (8)</li>
            <li>Luty (6)</li>
            <li>Marzec (7)</li>
            <li>Kwiecień (9)</li>
            <li>Maj (9)</li>
            <li>Czerwiec (10)</li>
            <li>Lipiec (11)</li>
            <li>Sierpień (9)</li>
            <li>Wrzesień (8)</li>
            <li>Październik (9)</li>
            <li>Listopad (6)</li>
            <li>Grudzień (10)</li>
        </ul>

        <img [src]="imageFileService.imageFile('add')" alt="advertisement">
    </div>
</aside>