@import "../../shared/scss/partials/_variables.scss";
@import "../../shared/bootstrap/scss/_functions.scss";
@import "../../shared/bootstrap/scss/_variables.scss";
@import "../../shared/bootstrap/scss/mixins/_breakpoints.scss";

aside {
    margin-top: -12px;
}
.side-nav {
    & ul {
		list-style-type: disc;
		padding-left: 20px;

		& > li {
			margin-bottom: 5px;
		}
	}
	& img {
		margin-top: 15px;
	}
	& a {
		color: $default-text-color;
		text-decoration: none;
		-webkit-transition: opacity .5s;
	    transition: opacity .5s;

		&:hover {
			opacity: .5;
		}
	}
}