
<app-header></app-header>
<div class="container">
    <div class="row mt-6 mb-6">
        <div class="entry col-md-8">
            <main>
                <article>
                    <div *ngIf="article$ | async as article">
                        <header>
                            <h1>{{ article.author }}: {{ article.title }}</h1>
                            <p>{{ article.date | date: 'dd/MM/yyyy, h:mm a' }}</p>
                        </header>

                        <div [innerHtml]="article.content | articleContent: article.contentImg"></div>

                        <section>
                            <header>
                                <h1>Comments</h1>
                                <p>Share What You Think!</p>
                            </header>
        
                            <app-signin [articleId]="article.id"></app-signin>
                        </section>
                    </div>  


                </article>
            </main>
        </div>

        <div class="col-md-3 offset-md-1">
            <app-aside></app-aside>
        </div>
    </div>
</div>
<app-footer></app-footer>