
<footer>
    <div class="container-fluid">
        <div class="socials row">
            <div class="col-md-8 offset-md-2">
                <div class="fb">
                    <i class="fab fa-facebook"></i>
                </div>
                <div class="yt">
                    <i class="fab fa-youtube"></i>
                </div>
                <div class="tw">
                    <i class="fab fa-twitter"></i>
                </div>
                <div class="gplus">
                    <i class="fab fa-google-plus-g"></i>
                </div>
                <div style="clear:both"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 offset-md-3 text-center p-4">
                Wszelkie prawa zastrzeżone &copy; 2017 Dziękuję za wizytę!
            </div>
        </div>
    </div>
</footer>