
<app-header></app-header>
<main>
    <article>
        <section>
            <div class="container">
                <div class="row">
                    <div class="categories col-md-10 offset-md-1 mt-6">
                        <header>
                            <h1>Welcome to the World of Philosophy!</h1>
                            <p>Are you a fan of philosophy? Do you like the concept of ideal state? 
                            Are you interested in how people perceive the world?
                            If yes, feel free to dive into the minds of the greatest philosophers ever!</p>
                        </header>
    
                        <div *ngFor="let author of authors" class="author">
                            <figure>
                                <a [routerLink]="['/article/q', author]"><img [src]="imageFileService.imageFile(author)" [alt]="author"></a>
                                <figcaption>{{ author }}</figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="newest">
            <div class="container">
                <div class="row">
                    <div class="entries col-md-10 offset-md-1 mt-6">
                        <header>
                            <h1>Newest Entries</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque lacus felis, pharetra ac ultricies vel, lobortis at tellus. Phasellus lacus justo, dapibus ut turpis sed, sodales tempor odio. Suspendisse maximus ex ut nisl pharetra, eu maximus quam molestie.</p>
                        </header>
        
                        <div *ngIf="articles">
                            <div *ngFor="let article of articles" class="entry">
                                <div class="container">
                                    <div class="row">
                                        <div class="entry-img col-md-2 d-flex justify-content-center align-items-center">
                                            <a [routerLink]="['/article', article.id]"><img [src]="imageFileService.imageFile(article.author)" [alt]="article.author"></a>
                                        </div>
                    
                                        <div class="entry-txt col-md-10">
                                            <h2><a [routerLink]="['/article', article.id]">{{ article.author }}: {{ article.title }}</a></h2>
                                            <p>{{ article.content | articleContentExcerpt}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="container">
                <div class="row">
                    <div class="contact col-md-10 offset-md-1 mt-6">
                        <header>
                            <h1>Contact with Author</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque lacus felis, pharetra ac ultricies vel, lobortis at tellus. Phasellus lacus justo, dapibus ut turpis sed.</p>
                        </header>
        
                        <button [routerLink]="['/contact']" type="button" class="btn">Let's Cooperate!</button>
                    </div>
                </div>
            </div>
        </section>
    </article>
</main>
<app-footer></app-footer>