@import "compass";
@import "partials/variables";
@import "partials/normalize";
@import "partials/mixins";
@import "partials/base";
@import "compass/css3";

.categories {
	margin: auto;
	width: 950px;
	text-align: center;
	padding: 0;

	@media (max-width: 1000px) {
		width: 100%;
	}
}
h1 {
	font-size: 44px;
	font-weight: 400;
	color: $light-blue;
	margin-bottom: 20px;

	@media (max-width: 830px) {
		font-size: 24px;
	}
}
.author {
	display: inline-block;
	margin-top: 10px;

	& a {
		opacity: 0.9;

		&:hover {
			opacity: 1;
		}
	}
}
figure {
	margin: 8px;
	padding: 0;
}
figcaption {
	margin-top: 8px;
	padding: 0;
}
.entries {
	margin: auto;
	width: 950px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 80px;
	margin-top: 40px;

	@media (max-width: 1000px) {
		width: 100%;
	}
}
.newest {
	background-color: $bg-grey2;
}
.entry {
	background-color: $bg-entry;
	padding: 10px;
	text-align: justify;
	margin-top: 40px;
	border-radius: 5px;
}
.entryimg {
	display: inline-block;
	margin-left: 30px;
	width: 110px;
}
.entryimg img {
	width: 90px;
	height: 90px;
}
.entrytxt {
	display: inline-block;
	width: 750px;
	font-size: 15px;

	@media (max-width: 1000px) {
		width: 100%;
	}
}
.contact {
	@extend .categories;
	padding-bottom: 70px;
	margin-bottom: 50px;

	& p {
		margin-bottom: 50px;
	}
}
.bluebutton {
	background-color: $bg-bluebutton;
	padding: 15px;
	font-size: 19px;
	color: $white;
	text-decoration: none;
	border-radius: 5px;
	min-width: 300px;
	-webkit-transition: background-color .5s;
    transition: background-color .5s;

	&:hover {
		background-color: $bg-bluebutton-hover;
	}
	@media (max-width: 840px) {
		font-size: 15px;
	}
}