
<app-header></app-header>
<main>
    <article>
        <div class="container">
            <div class="row">
                <div class="col-md-10 offset-md-1 mt-4 mb-4">
                    <header>
                        <h1>About</h1>
                    </header>
            
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer pretium elementum quam. Suspendisse ullamcorper pulvinar velit eget aliquam. Maecenas facilisis iaculis nisi ac aliquet. Ut quis lorem erat. Duis et velit hendrerit ipsum convallis pellentesque. Nunc ut molestie neque. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse dignissim, mauris non porttitor gravida, risus tellus feugiat felis, vel vestibulum massa nisi id magna. Quisque nec ante ac urna hendrerit hendrerit sit amet vitae quam. Quisque et vestibulum felis. Nunc vehicula turpis erat, non lobortis lacus posuere at. Integer malesuada ut erat quis porttitor.</p>

                    <p>Integer porta, dolor at interdum condimentum, tortor nisi porttitor mi, nec faucibus metus magna tristique sapien. Cras facilisis purus a sagittis dictum. Duis pellentesque id felis id porttitor. Vestibulum sed dolor sapien. Nunc condimentum est vitae pharetra tristique. Quisque porttitor nunc ipsum, in scelerisque ipsum mattis ut. Nam eu turpis ornare, vestibulum lacus sed, aliquam nibh. Aenean ut eleifend turpis, fermentum dictum sapien. Proin faucibus rhoncus velit, ut mollis nunc dictum a. Nulla ultricies suscipit est non cursus. Vestibulum ac dolor sodales, interdum tellus sed, sodales enim. Integer mattis odio a augue malesuada rhoncus. Vivamus eget leo faucibus, scelerisque justo accumsan, elementum tellus. Nam ut sagittis ipsum, sit amet maximus turpis.</p>

                    <p>Sed nec sollicitudin enim. Vestibulum tempus sagittis tortor in hendrerit. Duis at dapibus nisl. Nam non porta nunc. Duis in lacinia orci, vitae semper nisl. Mauris mollis, nulla eu lacinia accumsan, elit leo semper ipsum, eu ultrices dolor ligula eget tortor. Mauris ultrices tempor ipsum ut iaculis. Donec risus libero, tempus nec lacus scelerisque, ullamcorper placerat arcu. Maecenas dapibus nisi id molestie bibendum. Aliquam interdum, enim sit amet interdum feugiat, nibh eros viverra libero, gravida bibendum enim sapien vitae lectus. Vestibulum sed pharetra ante, ac euismod mi. Aliquam at fermentum sapien. In hac habitasse platea dictumst.</p>
                </div>
            </div>
        </div>
    </article>
</main>
<app-footer></app-footer>