// Button variants
//
// Easily pump out default styles, as well as :hover, :focus, :active,
// and disabled options for all buttons

@mixin button-variant($color, $background, $border) {
	color: $color;
	background-color: $background;
	border-color: $border;
	-webkit-transition: background-color .5s, border-color .5s;
    transition: background-color .5s, border-color .5s;
	
	&:hover, &:focus {
		color: $color;
		background-color: darken($background, 10%);
	    border-color: darken($border, 12%);
	}
	&:active {
		border-style: solid;
	}
}

// Button sizes
@mixin button-size($padding, $font-size, $border-radius) {
	padding: $padding;
	font-size: $font-size;
	border-radius: $border-radius;
}