@import "../../shared/scss/partials/_variables.scss";

.categories {
	text-align: center;
}
.author {
	display: inline-block;
	margin-top: 10px;
	margin-left: 15px;

	& a {
		-webkit-transition: opacity .5s;
		transition: opacity .5s;

		&:hover {
			opacity: .5;
		}
	}
}
figcaption {
	margin-top: 8px;
}
.newest {
	background-color: $bg-newest;
}
.entries {
	text-align: center;
	padding-top: 10px;
	padding-bottom: 80px;
}
.entry {
	background-color: $bg-entry;
	padding: 10px;
	text-align: justify;
	margin-top: 40px;
	border-radius: 5px;

	.entry-img img {
		width: 90px;
		height: 90px;
	}
	.entry-txt {
		font-size: $entry-txt-size;
	}
}
.contact {
	text-align: center;
	margin-bottom: 100px;

	& p {
		margin-bottom: 50px;
	}
	& button {
		background-color: $bg-bluebutton;
		border-color: $bg-bluebutton;
		padding: 15px;
		border-radius: 5px;
		-webkit-transition: background-color .5s;
    	transition: background-color .5s;

		&:hover {
			background-color: $bg-bluebutton-hover;
		}
	}
}