// Colors
$white: #efefef;
$dark-blue: #0a2b42;
$light-blue: #39a5f1;
$grey: #2f3336;

// Backgrounds
$bg-navbar: #1c74b2;
$bg-newest: #191d21;
$bg-entry: #222930;
$bg-bluebutton: #1c74b2;
$bg-bluebutton-hover: #196499;
$bg-fb: #4668b3;
$bg-yt: #d94348;
$bg-tw: #3095d3;
$bg-gplus: #d95333;

// Text Colors
$logo-color: #ddd;

// Fonts
$logo-md-font-size: 46px;
$logo-font-size: 24px;
$menu-font-size: 18px;
$entry-txt-size: 15px;
$socials-font-size: 72px;

// Defaults
$default-bg-color: $grey !default;
$default-text-color: $white !default;
$default-font-family: 'Open Sans', sans-serif !default;
$default-md-font-size: 17px !default;
$default-font-size: 15px !default;

