/* You can add global styles to this file, and also import other style files */
@import './app/shared/bootstrap/scss/bootstrap.scss';
@import './app/shared/scss/partials/_variables.scss';
@import './app/shared/scss/partials/_mixin.scss';

body {
	margin: 0;
	background-color: $default-bg-color;
	color: $default-text-color;
	font-family: $default-font-family;
	font-size: $default-font-size;
}
h1 {
	font-size: $h1-font-size;
	font-weight: 400;
	color: $light-blue;
	margin-bottom: 20px;

	@include media-breakpoint-up(sl) {
		font-size: $h1-sl-font-size;
	}
}
h2 {
	font-size: $h2-sl-font-size;
	font-weight: 400;
	color: $light-blue;
	margin: 1em 0 1em 0;
	
	@include media-breakpoint-up(sl) {
		font-size: $h2-sl-font-size;
	}
}